.wp-block-gab-accordion {

    .gab-accordion-item {

        &__body {
            display: block !important;
        }

        &__header {
            cursor: default;
            // On retire pointer-events: none du header entier
            // et on cible uniquement l'icône qui n'a pas besoin d'être cliquable
        }

        &__icon {
            pointer-events: none;
        }

        &__title {
            // On s'assure que le RichText reste interactif
            pointer-events: all;
            cursor: text;
        }
    }
}